In [4]:
from rec_room.datasets import load_oms_courses_dataset, load_data
from rec_room import ROOT_DIR
from os.path import join

In [5]:
df = load_data('oms_courses_nans.csv')

In [7]:
df = df.dropna().reset_index(drop=True)
df

      course_id                 course_name  rating  workload  difficulty
0       CS-6210  Advanced Operating Systems     5.0      20.0         5.0
1       CS-6210  Advanced Operating Systems     5.0      15.0         4.0
2       CS-6210  Advanced Operating Systems     4.0      25.0         5.0
3       CS-6210  Advanced Operating Systems     5.0      25.0         4.0
4       CS-6210  Advanced Operating Systems     5.0      15.0         4.0
...         ...                         ...     ...       ...         ...
3740  ISYE-6402        Time Series Analysis     1.0      10.0         4.0
3741  ISYE-6402        Time Series Analysis     1.0      18.0         5.0
3742  ISYE-6402        Time Series Analysis     1.0      15.0         5.0
3743  ISYE-6402        Time Series Analysis     4.0      11.0         5.0
3744  ISYE-6402        Time Series Analysis     1.0      40.0         5.0

[3745 rows x 5 columns]

In [10]:
f = join(ROOT_DIR, 'datasets', 'data', 'oms_courses.csv')

In [11]:
df.to_csv(f, index=False)